<ion-content padding>
  <ion-content style="top: 10%">
    <div style="border-top-style: solid; border-bottom-style: solid; border-color: white; text-align: center">
      <div style="display: inline-block; text-align: left; width: 55%">
        <p style="font-size: 40px; line-height: 1">
          <b> Obrigada <br/>
          Pela<br />
          Sua <br/>
          Visita! </b>
        </p>
      </div>
    </div>

  <ion-content style="top: 2%">
    <div style="text-align: center">
      <img src="assets/imgs/logo.svg">
    </div>
  </ion-content>

  <ion-content style="top: -58%">
    <div style="text-align: center">
      <ion-icon class="button" name="home"style="font-size: 50px; border-radius: 50px; border: solid; border-color: black; background-color: black; color: white" [routerLink]="['/home']"></ion-icon>
    </div>
  </ion-content>
  </ion-content>
</ion-content>
