<ion-content>
  <ion-content padding style="top: 0%">
      <div style="text-align: center">
        <img src="assets/imgs/abaporu.jpg">
      </div>
    </ion-content>
    
    <ion-content style="top: -34%">
      <div style="text-align: center">
        <div style="display: inline-block; text-align: justify; background-color: #ADD8E6">
          <p>
            Abaporu é uma pintura a óleo da artista brasileira Tarsila do Amaral. É uma das principais obras do período antropofágico do movimento modernista no Brasil. É a tela brasileira mais valorizada no mercado mundial das artes, com valor estimado de US$ 40 milhões.
          </p>
        </div>
      </div>
    </ion-content>

    <ion-content style="top: -110%">
      <div style="text-align: center">
        <ion-icon class="button" name="arrow-round-back"style="font-size: 45px; border-radius: 50px; border: solid" [routerLink]="['/visitor']"></ion-icon>
        <ion-icon class="button" name="search"style="font-size: 50px; border-radius: 50px; border: solid; border-color: black; background-color: black; color: white" [routerLink]="['/home-main']"></ion-icon>
        <ion-icon class="button" name="close"style="font-size: 45px; border-radius: 50px; border: solid" [routerLink]="['/final-home']"></ion-icon>
      </div>
    </ion-content>
</ion-content>
