<ion-content padding>
  <ion-content style="top: 0%">
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <ion-label> Nome </ion-label>
        <ion-input style="border-bottom: solid; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -88%">
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <ion-label> Telefone </ion-label>
        <ion-input style="border-bottom: solid; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -176%">
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <ion-label> CEP </ion-label>
        <ion-input style="border-bottom: solid; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -264%">
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <ion-label> Endereço (Rua e numero) </ion-label>
        <ion-input style="border-bottom: solid; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -352%">
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <ion-label> Bairro </ion-label>
        <ion-input style="border-bottom: solid; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -440%">
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <ion-label> Complemento </ion-label>
        <ion-input style="border-bottom: solid; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -528%">
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <ion-label> Usuário </ion-label>
        <ion-input style="border-bottom: solid; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -615%">
    <div style="text-align: center">
      <ion-button color="dark" expand="block" [routerLink]="['/main-login']"> CADASTRAR </ion-button>
    </div>
    <div style="text-align: center">
      <a [routerLink]="['/login']"> Já possui uma conta? </a>
    </div>
  </ion-content>

</ion-content>