<ion-content padding> 
    <div style="text-align: center">
      <h2> <b> OBRAS CADASTRADAS </b> </h2>
    </div>

    <ion-content style="top: 0%">
      <div style="text-align: center">
        <p style="font-size: 20px"> <ion-icon name="add-circle" style="font-size: 40px" class="button" [routerLink]="['/ibeacon']"></ion-icon> Adicionar nova obra</p>
      </div>
    </ion-content>

    <ion-content style="top: -20%">
      <div style="text-align: center">
        <ion-icon class="button" name="home"style="font-size: 50px; border-radius: 50px; border: solid; border-color: black; background-color: black; color: white" [routerLink]="['/admin-home']"></ion-icon>
      </div>
    </ion-content>
</ion-content>
