<ion-content padding [routerLink]="[ '/main-login']">
  <ion-content style="top: 150px">
    <div style="border-top-style: solid; border-bottom-style: solid; border-color: white; text-align: center">
      <div style="display: inline-block; text-align: left; width: 55%">
        <p style="font-size: 40px; line-height: 1">
          <b>seja <br/>
          bem <br />
          vindo! </b>
        </p>
      </div>
    </div>
    
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <p style="color: white">
          MUSEU DE ARTE <br />
          ASSIS CHATEAUBRAIND
        </p>
      </div>
    </div>

  <ion-content style="top: 18%">
    <div style="text-align: center">
      <img src="assets/imgs/logo.svg">
    </div>
  </ion-content>
  </ion-content>
</ion-content>
