<ion-content>
    <ion-content padding style="top: 15%">
        <div style="text-align: center">
          <img src="assets/imgs/noite.jpg">
        </div>
      </ion-content>
      
      <ion-content style="top: -45%">
        <div style="text-align: center">
          <div style="display: inline-block; text-align: justify; background-color: #ADD8E6">
            <p>
              Noite Estrelada é uma pintura de Vincent van Gogh de 1889. A obra retrata a vista da janela de um quarto do hospício de Saint-Rémy-de-Provence, pouco antes do nascer do sol, com a adição de um vilarejo idealizado pelo artista.
            </p>
          </div>
        </div>
      </ion-content>

      <ion-content style="top: -110%">
        <div style="text-align: center">
          <ion-icon class="button" name="arrow-round-back"style="font-size: 45px; border-radius: 50px; border: solid" [routerLink]="['/visitor']"></ion-icon>
          <ion-icon class="button" name="search"style="font-size: 50px; border-radius: 50px; border: solid; border-color: black; background-color: black; color: white" [routerLink]="['/home-main-dois']"></ion-icon>
          <ion-icon class="button" name="close"style="font-size: 45px; border-radius: 50px; border: solid" [routerLink]="['/final-home']"></ion-icon>
        </div>
      </ion-content>
</ion-content>
