ion-content {
    --background: url(/assets/imgs/img_fundo.jpg) no-repeat center center/cover;
}

#icon-home-make {
    margin-top: 40%;
    font-size: 5rem;
}

#wha {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    color: purple;
}

#do-you {
    margin-top: -5%;
    margin-bottom: 0;
    font-size: 1.6em;
    color: plum;
}

#think {
    margin-top: -5%;
    margin-bottom: 20%;
    font-size: 2.1em;
    color: purple;
}