<ion-content padding>
  <ion-content style="top: 20%">
    <div style="text-align: center">
      <img src="https://img.icons8.com/ios/100/000000/museum.png">
  
      <div style="display: inline-block; text-align: left">
        <ion-label> <b> Usuário </b> </ion-label>
        <ion-input style="border: solid; border-radius: 10px; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -50%">
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <ion-input style="border: solid; border-radius: 10px; width: 350px"></ion-input>
      </div>
    </div>
  </ion-content>

  <ion-content style="top: -141%">
    <div style="text-align: center">
      <ion-button color="dark" expand="block" [routerLink]="['/admin-home']"> ENTRAR </ion-button>
    </div>
    <div style="text-align: center">
      <a [routerLink]="['/register']"> Não possui uma conta? </a>
    </div>
  </ion-content>

  <ion-content style="top: -209%">
    <div style="text-align: center">
      <img src="assets/imgs/logo.svg">
    </div>
  </ion-content>
</ion-content>
