<ion-content padding>
  <ion-content style="top: 20%">
    <div style="text-align: center">
      <img src="https://img.icons8.com/ios/100/000000/museum.png">

      <ion-button color="dark" expand="block" [routerLink]="['/visitor']"> VISITANTE </ion-button>   
      <ion-button color="dark" expand="block" [routerLink]="['/login']"> ENTRAR USANDO CONTA </ion-button>
      <ion-button color="dark" expand="block" [routerLink]="['/register']"> CADASTRAR </ion-button>
    </div>      
  </ion-content>

  <ion-content style="top: -9%">
    <div style="text-align: center">
      <img src="assets/imgs/logo.svg">
    </div>
  </ion-content>
</ion-content>  

