<ion-content padding>
  <div style="text-align: center">
    <div style="display: inline-block; text-align: left">
      <h2> <b> CADASTRAR OBRAS </b> </h2>
    </div>
    
    <h2> ESCOLHA UM IBEACON </h2>
  </div>

  <ion-content style="top: 72%">
      <div style="text-align: center">
        <ion-icon class="button" name="home"style="font-size: 50px; border-radius: 50px; border: solid; border-color: black; background-color: black; color: white" [routerLink]="['/admin-home']"></ion-icon>
        <ion-icon class="button" name="arrow-round-forward"style="font-size: 40px; border-radius: 50px; border: solid" [routerLink]="['/cadastrar-obra']"></ion-icon>
      </div>
    </ion-content>
</ion-content>