#icon-make {
    margin-left: 2.5%;
    margin-right: 0;
    font-size: 2rem;
}

#icon-make-center {
    margin-top: 17%;
    font-size: 5rem;
}

.icon-button {
    font-size: 1.5rem;
    margin-right: 5%;
    margin-left: -15%;
}

#wha {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;
    color: purple;
}

#do-you {
    margin-top: -5%;
    margin-bottom: 0;
    font-size: 1.6em;
    color: plum;
}

#think {
    margin-top: -5%;
    margin-bottom: 10%;
    font-size: 2.1em;
    color: purple;
}

#wha-title {
    margin-top: -1%;
    margin-bottom: 0;
    font-size: 1em;
    color: white;
}

#do-you-title {
    margin-top: -1%;
    margin-bottom: 0;
    font-size: 0.6em;
    color: white;
}

#think-title {
    margin-top: -1%;
    margin-bottom: -1%;
    font-size: 0.8em;
    color: white;
}