<ion-content padding>
  <ion-content>
    <div style="text-align: center">
      <div style="display: inline-block; text-align: left">
        <h1> <b> Acesso <br/> Administrativo </b> </h1>
      </div>
    </div>
  </ion-content>
    
  <ion-content style="top: -65%">
    <div style="text-align: center">
      <ion-button color="dark" expand="block" [routerLink]="['/ibeacon']"> CADASTRAR UMA NOVA OBRA DE ARTE </ion-button>
    </div>
        
    <div style="text-align: center">
        <ion-button color="dark" expand="block" [routerLink]="['/obras-page']"> VISUALIZAR OBRAS JÁ CADASTRADAS </ion-button>
    </div>
  </ion-content>

  <ion-content style="top: -110%">
      <div style="text-align: center">
        <ion-icon class="button" name="home"style="font-size: 50px; border-radius: 50px; border: solid; border-color: black; background-color: black; color: white" [routerLink]="['/home']"></ion-icon>
        <ion-icon class="button" name="close"style="font-size: 45px; border-radius: 50px; border: solid" [routerLink]="['/final-home']"></ion-icon>
      </div>
    </ion-content>
</ion-content>
